.operation {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  margin: auto;

  .amount {

  }

  input {
    //margin-right: 1em;
    //box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
