h2 {
  padding-left: 8px;
}

.operation {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;

  .amount {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .description {
    //margin-right: 1em;
    //box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

