<section class="operations-history-section">
  <div class="balance">
    {{balance}}
  </div>
  <div class="operations-history">
    <div class="income">
      <p>Income</p>
      <div *ngFor="let operation of operations">
        <div *ngIf="operation.amount>=0" class="operation-type" [ngClass]="operation.amount >= 0 ? 'income':'income'">
          {{operation.amount}}
          {{operation.description}}
        </div>
      </div>
    </div>
    <div class="expense">
      <p>Expenses</p>
      <div *ngFor="let operation of operations">
        <div *ngIf="operation.amount<0" class="operation-type" [ngClass]="operation.amount < 0 ? 'expenses': ''">
          {{operation.amount}}
          {{operation.description}}
        </div>
      </div>
    </div>
  </div>
</section>
